@if (item) {
  @if (root && item.children) {
    <button type="button" class="px-link" (click)="expanded.update((value) => !value)">
      <div class="menu-icon">
        <ng-icon [name]="item.icon ?? ''" aria-hidden="true" />
      </div>
      <span>{{ item.name | transloco }}</span>
      <ng-icon class="menu-toggle-icon" name="lucideChevronDown" aria-hidden="true" />
    </button>
  }
  @if (item && item.href) {
    <a [href]="item.href" target="_blank" rel="noopener noreferrer">
      @if (item.icon && root) {
        <div class="menu-icon">
          <ng-icon [name]="item.icon" aria-hidden="true" />
        </div>
      }
      <span>{{ item.name | transloco }}</span>
      @if (item.badge) {
        <span class="rounded bg-muted px-1.5 py-0.5 text-xs">{{ item.badge | transloco }}</span>
      }
    </a>
  }
  @if (item.routerLink) {
    <a
      [routerLink]="item.routerLink"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        queryParams: 'ignored',
        matrixParams: 'ignored',
        fragment: 'ignored',
      }"
    >
      @if (item.icon && root) {
        <div class="menu-icon">
          <ng-icon [name]="item.icon" aria-hidden="true" />
        </div>
      }
      <span>{{ item.name | transloco }}</span>
      @if (item.badge) {
        <span class="rounded bg-muted px-1.5 py-0.5 text-xs">{{ item.badge | transloco }}</span>
      }
    </a>
  }
  @if (!root && item.children) {
    <span class="menu-child-category">{{ item.name | transloco }}</span>
  }
  @if (item.children) {
    <div
      class="overflow-y-hidden transition-all duration-400 ease-in-out"
      [ngClass]="{ hidden: item.children && root && !expanded() && isActiveRootMenuItem(item) }"
    >
      <ol>
        @for (child of item.children; track child) {
          <li app-menuitem [root]="false" [item]="child"></li>
        }
      </ol>
    </div>
  }
}
