@if (item) {
  @if (root && item.children) {
    <button
      pButton
      type="button"
      class="px-link"
      pStyleClass="@next"
      enterFromClass="hidden"
      enterActiveClass="animate-slidedown"
      leaveToClass="hidden"
      leaveActiveClass="animate-slideup"
    >
      <div class="menu-icon">
        <i [ngClass]="item.icon"></i>
      </div>
      <span>{{ item.name | transloco }}</span>
      <i class="menu-toggle-icon pi pi-angle-down"></i>
    </button>
  }
  @if (item && item.href) {
    <a [href]="item.href" target="_blank" rel="noopener noreferrer">
      @if (item.icon && root) {
        <div class="menu-icon">
          <i [ngClass]="item.icon"></i>
        </div>
      }
      <span>{{ item.name | transloco }}</span>
      @if (item.badge) {
        <p-tag [value]="item.badge | transloco" />
      }
    </a>
  }
  @if (item.routerLink) {
    <a
      [routerLink]="item.routerLink"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        queryParams: 'ignored',
        matrixParams: 'ignored',
        fragment: 'ignored',
      }"
    >
      @if (item.icon && root) {
        <div class="menu-icon">
          <i [ngClass]="item.icon"></i>
        </div>
      }
      <span>{{ item.name | transloco }}</span>
      @if (item.badge) {
        <p-tag [value]="item.badge | transloco" />
      }
    </a>
  }
  @if (!root && item.children) {
    <span class="menu-child-category">{{ item.name | transloco }}</span>
  }
  @if (item.children) {
    <div
      class="overflow-y-hidden transition-all duration-400 ease-in-out"
      [ngClass]="{ hidden: item.children && root && isActiveRootMenuItem(item) }"
    >
      <ol>
        @for (child of item.children; track child) {
          <li app-menuitem [root]="false" [item]="child"></li>
        }
      </ol>
    </div>
  }
}
