POSTGRES_PASSWORD="Enfw1234dev"

CONFLUENCE_LISTEN="0.0.0.0:4001"
CONFLUENCE_HOST="confluence.aitiotekt.com"
CONFLUENCE_DATABASE_URL="postgres://outposts:Enfw1234dev@127.0.0.1:9005/confluence"
CONFLUENCE_API_ENDPOINT="https://confluence.aitiotekt.com/api"

OUTPOSTS_WEB_HOST="outposts.aitiotekt.com"
OUTPOSTS_WEB_AUTH_APPID="to9pyrq4msdo8tv6h8fr9"

AUTH_TYPE="OIDC"

# for oidc type
AUTH_ENDPOINT="https://auth.aitiotekt.com"
AUTH_ISSUER="https://auth.aitiotekt.com/oidc"

# for basic type
AUTH_BASIC_USERNAME="outposts"
AUTH_BASIC_PASSWORD="outposts"
