services:
  postgres:
    container_name: outposts-postgres
    image: postgres:18
    env_file: ./.env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=outposts
      - POSTGRES_DB=postgres
    restart: always
    volumes:
      - ./postgres/data:/var/lib/postgresql
      - ./postgres/init.sh:/docker-entrypoint-initdb.d/init.sh
    ports:
      - 9005:5432
    networks:
      - outposts
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h 127.0.0.1 -d $${POSTGRES_DB} -U $${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 20

  confluence:
    container_name: confluence
    build:
      context: .
      dockerfile: ./apps/confluence/Dockerfile
    env_file: ./.env
    restart: always
    ports:
      - 9003:4001
    networks:
      - outposts
    depends_on:
      - postgres

  outposts-web:
    container_name: outposts-web
    build:
      context: .
      dockerfile: ./apps/outposts-web/Dockerfile
    env_file: ./.env
    restart: always
    ports:
      - 9004:80
    networks:
      - outposts
    depends_on:
      - confluence

networks:
  outposts:
    name: outposts
    driver: bridge
