:root.dark {
    --primary-text-color: var(--primary);
    --primary-color: var(--primary);
    --primary-contrast-color: var(--primary-foreground);
    --primary-hover-color: color-mix(in oklab, var(--primary) 88%, white);
    --text-color: var(--foreground);
    --text-secondary-color: var(--muted-foreground);
    --glow-image: url(../../../../image/pattern.png), radial-gradient(50% 50% at center -25px, var(--primary) 0%, #000000 100%);
    --glow-blend: hard-light, color-dodge;
    --topbar-sticky-background: rgba(0, 0, 0, .3);
    --mobile-menu-background: rgba(0, 0, 0, .3);
    --card-border: 1px solid transparent;
    --card-background: var(--card);
    --border-color: var(--border);
    --ground-background: var(--background);
    --overlay-background: var(--popover);
    --hover-background: var(--accent);
    --code-background: var(--card);
    --high-contrast-text-color: var(--foreground);
    --hover-border-color: var(--ring);
    --mark-background: var(--muted);
    --mark-text-color: var(--foreground);
    --selection-background: var(--muted);
    --selection-text-color: var(--foreground);
    --code-button-text-color: var(--muted-foreground);
    --logo-color: var(--text-secondary-color);
}
