:root {
    --primary-text-color: var(--primary);
    --primary-color: var(--primary);
    --primary-contrast-color: var(--primary-foreground);
    --primary-hover-color: color-mix(in oklab, var(--primary) 88%, black);
    --text-color: var(--foreground);
    --text-secondary-color: var(--muted-foreground);
    --glow-image: url(../../../../image/pattern.png);
    --glow-blend: hard-light, multiply;
    --topbar-sticky-background: rgba(255, 255, 255, .7);
    --mobile-menu-background: #ffffff;
    --card-border: 1px solid var(--border);
    --card-background: var(--card);
    --border-color: var(--border);
    --ground-background: var(--background);
    --overlay-background: var(--popover);
    --hover-background: var(--accent);
    --code-background: oklch(0.141 0.005 285.823);
    --high-contrast-text-color: var(--foreground);
    --hover-border-color: var(--ring);
    --mark-background: var(--muted);
    --mark-text-color: var(--foreground);
    --selection-background: var(--muted);
    --selection-text-color: var(--foreground);
    --code-button-text-color: oklch(0.705 0.015 286.067);
    --logo-color: var(--text-secondary-color);
}
