:host ::ng-deep {
  .p-breadcrumb {
    background-color: transparent;
    border: none;
  }

  .confluence-subscribe-source-item {
    min-width: 9em;

    .p-card-content {
      padding: 0;
    }
  }

  .confluence-profile-item {
    min-width: 9em;

    .p-card-content {
      padding: 0;
    }
  }
}

.confluence-subscribe-source-item {
  p-button {
    right: 0;
    top: 0;
  }
}

.profile-url {
  margin-top: 0.5rem;
  word-break: break-all;
}
